<html>
    <head>
        <title>
            Django project
        </title>
            <body>
               <div>
                   <h1><a href=" /">Django project </a></h1>
               </div>
                    <div>
                        <p>
                            published:02-09-2018,09.37
                        </p>
                        <h2><a href="/"> my first post</a></h2>
                        <p>
                            jasidhflkasjdnfiuashdfjn laskjdf iuahsdpifuhasi lkasjdhfi uasdfajs fpisdufh
                            iasuhdf iasuhdfjasdfiuasfiu
                            asjd hfipauhdfiaushdf
                        </p>
                    </div>
                    <div>
                        <p>
                            published : 2-09-2018,9.42
                        </p>
                        <h2><a href = "https://en.wikipedia.org/wiki/Python_(programming_language)">my second post </a></h2>
                        <p>
                            asdpfiuhpasoidf pasid hfpiaushdfiuahsd  aishdfpiuhasdfj asjdhfijashdkfjasndfj
                            p iasuhdfishdfkjashdf
                            [asjd fiuhdfiasuhdf
                        </p>
                    </div>
            </body>
    </head>
</html>